<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treasurer Remittance</title>
    <link rel="stylesheet" href="/TREASURER_CSS/Treasurer_remmitance.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">      
</head>

<body>
    <header>
        <div class="logo">
            <img src="/BSIT_LOGO.png" alt="Logo">
            <span class="BS">BSIT FUND COLLECTION<br><span class="IT"> MANAGEMENT SYSTEM</span></span>
        </div>
        <nav class="nav">
            <a href="Representative_dashboard" class="nav-link" id="dashboardLink">DASHBOARD</a>
            
            <div class="dropdown">
              <a href="#" class="dropbtn nav-link" id="receiveLink" onclick="toggleDropdown('receiveDropdown')">RECEIVE</a>
              <span class="arrow" onclick="toggleDropdown('receiveDropdown')"></span>
              <div class="dropdown-content" id="receiveDropdown">
                  <!-- Dynamically generate the link based on block and yearLevel -->
                  <% if (block && yearLevel) { %>
                      <a href="Representative_BSIT_<%= yearLevel %><%= block %>_remittance">BSIT-<%= yearLevel %><%= block %></a>
                  <% } else { %>
                      <a href="#">No block assigned</a>
                  <% } %>
              </div>
          </div>
          
          <div class="dropdown">
              <a href="#" class="dropbtn nav-link" id="remittanceLink" onclick="toggleDropdown('remittanceDropdown')">REMITTANCE</a>
              <span class="arrow" onclick="toggleDropdown('remittanceDropdown')"></span>
              <div class="dropdown-content" id="remittanceDropdown">
                  <!-- Dynamically generate the link based on block and yearLevel -->
                  <% if (block && yearLevel) { %>
                      <a href="Representative_<%= yearLevel %><%= block %>_verify_remittance">BSIT-<%= yearLevel %><%= block %></a>
                  <% } else { %>
                      <a href="#">No block assigned</a>
                  <% } %>
              </div>
          </div>
          
           
            <div class="dropdown">
              <a href="#" class="dropbtn nav-link" id="reportLink" onclick="toggleDropdown('userDropdown')"><i class="fa-solid fa-user"></i></a>
              <span class="arrow" onclick="toggleDropdown('userDropdown')"></span>
              <div class="dropdown-content" id="userDropdown">
                  <a href="#">MANAGE ACCOUNT</a>
                  <a href="/logout">LOGOUT</a>
              </div>
              </div>
        </nav>
    </header>

    <div class="container">
    <div class="header-section" >
        <div>
            <p><strong><%= blockKey %></strong></p>
            <% representativeNames.forEach(name => { %>
                <p><strong>Representative:</strong> <%= name %></p>
            <% }); %>
        </div>

        <div class="search-container">
            <input class="search-style" type="text" id="searchInput"placeholder="Search by name or payable..."oninput="this.value = this.value.toUpperCase();"
            />
        </div>
    </div>

    <div class="scrollable-table-container">
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Payable</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <% 
                    let totalAmountPaid = 0; 
                    let totalBalance = 0; 
                %>
                <% filteredUsers.forEach(user => { %>
                    <% 
                        const userPayables = user.payables || []; 
                        let userTotalPaid = 0; 
                        let userTotalBalance = 0;

                        const userRemittance = remittances.filter(rem => rem.student === `${user.firstName} ${user.lastName}`);
                        let totalPaidForUser = userRemittance.reduce((total, rem) => total + (rem.paid || 0), 0);

                        userPayables.forEach(payable => {
                            userTotalPaid += payable.amountPaid || 0;
                            userTotalBalance += payable.balance || 0;
                        });

                        userTotalPaid += totalPaidForUser;

                        totalAmountPaid += userTotalPaid;
                        totalBalance += userTotalBalance;

                        const payableDescriptions = userPayables.map(p => p.description).join(', ');
                    %>
                    <tr data-name="<%= user.firstName.toLowerCase() + ' ' + user.lastName.toLowerCase() %>" data-payables="<%= payableDescriptions.toLowerCase() %>">
                        <td>
                            <a href="/Representative_display_Student_Info/<%= user.userId %>" class="no-underline">
                                <%= user.firstName %> <%= user.lastName %>
                            </a>
                        </td>
                        <td>
                            <% if (userPayables.length > 0) { %>
                                <%= payableDescriptions %>
                            <% } else { %>
                                No payables
                            <% } %>
                        </td>
                        <td><%= userTotalPaid || 0 %></td>
                        <td><%= userTotalBalance || 0 %></td>
                    </tr>
                <% }); %>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td><%= totalAmountPaid %></td>
                    <td><%= totalBalance %></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

    
    <script src="/TREASURER_JS/Treasurer_BSIT_3A_remittance.js"> </script>
</body>
</html>
      